
@{
    ViewData["Title"] = "TeamIndex";
}

<main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
        <div class="container">

            <ol>
                <li><a asp-action="index" asp-controller="home">Home</a></li>
                <li>Team</li>
            </ol>
            <h2>Team</h2>

        </div>
    </section><!-- End Breadcrumbs -->
    <!-- ======= Team Section ======= -->
    <section id="team" class="team">
        <div class="container">

            <div class="row">

                @foreach (Team team in Model)
                {
                    <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
                        <div class="member">
                            <img src="~/assets/img/team/@team.Image" alt="">
                            <h4>@team.Name @team.SurName</h4>
                            <span>@team.Position.Name</span>
                            <p>
                                @team.Description
                            </p>
                            <div class="social">

                                @if (team.FacebookUrl != null)
                                {
                                    <a href=""><i class="bi bi-facebook"></i></a>
                                }
                                @if (team.InstagramUrl != null)
                                {
                                    <a href=""><i class="bi bi-instagram"></i></a>
                                }
                                @if (team.LinkedinUrl != null)
                                {
                                    <a href=""><i class="bi bi-linkedin"></i></a>
                                }
                                @if (team.TwitterUrl != null)
                                {
                                    <a href=""><i class="bi bi-twitter"></i></a>
                                }
                            </div>
                        </div>
                    </div>
                }



            </div>

        </div>
    </section><!-- End Team Section -->

</main><!-- End #main -->